<template>
  <div>
    <file-upload v-show="show_files" v-on:files="show_files = !show_files; show_output = !show_output"></file-upload>
    <log-output v-show="show_output"></log-output>
    <download-links v-show="show_links" v-on:log="show_output = !show_output; show_links = !show_links"></download-links>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import FileUpload from "./components/file_upload.vue"
import LogOutput from "./components/log_output.vue"
import DownloadLinks from "./components/download_links.vue"

@Component({ components: { FileUpload, LogOutput, DownloadLinks } })
export default class App extends Vue {
  data() {
    return {
      show_files: true,
      show_output: false,
      show_links: false,
    }
  }
}
</script>
