<template>
  <div class="links">
    <table align="center">
      <tr>
        <th>Latest Zip</th>
      </tr>
      <tr>
        <td>
          <a v-bind:href="latest.path">{{ latest.name }}</a>
        </td>
      </tr>
    </table>

    <table v-if="others && others.length > 0" align="center">
      <tr>
        <th>Other Zips for Session</th>
      </tr>
      <div v-for="link in others">
        <tr>
          <td>
            <a v-bind:href="link.path">{{ link.name }}</a>
          </td>
        </tr>
      </div>
    </table>
  </div>
</template>

<style>
.links {
  margin: 0 auto;
}
</style>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component"
import MessageService from "../service/message_service";
import { DownloadMessage } from "../model/json_models";

@Component
export default class DownloadLinks extends Vue {
  data() {
    return {
      latest: {},
      others: [],
    }
  }

  constructor() {
    super()
    MessageService.instance.register_handlers("download", this.handle_message);
  }

  handle_message(payload: string): void {
    const message: DownloadMessage = JSON.parse(payload);
    this.$data.latest = message.latest;
    this.$data.others = message.others;

    // render component
    this.$emit("log");
  }
}
</script>
