<template>
    <form enctype="multipart/form-data">
        <div class="dropbox">
            <input class="input-file" type="file" name="jars" @change="uploadJars($event.target.name, $event.target.files)" multiple webkitdirectory mozdirectory>
            <p>Drag your file(s) here to begin
                <br> or click to browse</p>
        </div>
    </form>
</template>

<style>
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  min-height: 200px; /* minimum height */
  position: relative;
  cursor: pointer;
  width: 25%;
  margin: 0 auto;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}
</style>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import axios from "axios";
import CookieHelper from "../helpers/cookie_helpers"

@Component
export default class FileUpload extends Vue {
    uploadJars(field_name: string, file_list: FileList): void {
        const data = new FormData();

        if (!file_list.length) {
            return;
        }

        Array.from(file_list).forEach((file: File) => {
            data.append(field_name, file, file.name);
        });

        axios
            .post(`/upload/${CookieHelper.getSessionId()}`, data)
            .then(() => {
                this.$emit("files");
            });
    }
}
</script>

