<template>
    <div class="messages">
        <h2>Output</h2>
        <textarea class="logs" rows="15" cols="100" v-model="messages"></textarea>
    </div>
</template>

<style>
.logs {
  background-color: lightcyan;
  color: dimgray;
  overflow: hidden;
  resize: none;
}
</style>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Message, LogMessage } from "../model/json_models";
import MessageService from "../service/message_service"

@Component
export default class LogOutput extends Vue {

    data() {
        return {
            messages: "",
        }
    }

    constructor() {
        super();
        MessageService.instance.register_handlers("logs", this.handleMessage)
    }

    private handleMessage(payload: string): void {
        const message: LogMessage = JSON.parse(payload);
        this.$data.messages += `${message.name}:\n${message.message}\n`;
        this.scrollToBottom();
    }

    private scrollToBottom(): void {
        var container = this.$el.querySelector(".logs");
        if (container) {
            container.scrollTop = container.scrollHeight;
        }
    }
}
</script>